* {
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    text-decoration: line-through;
    color: purple;
}

ul {
    list-style: none;
}

.superhero {
    background-color: aqua;
}

a[target="_blank"] {
    background-color: yellow;
}