body {
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background-image: url(./img/Chitkara_University_pic.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

nav {
    display: flex;
    height: 6px;
    justify-content:right;
    background-color: #ed3237;
}

img {
    height: max-content;
    cursor: pointer;
}